<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Estilo/estilo.css">
</head>
<body>
    <header>
        <%- include('header.ejs') %></aside>
    </header>
    <main>
        <h2>Bienvenidos a la area de:<%= data_areas[0].nombre%></h2>
    </main>
    <%- include('footer.ejs') %></aside>
</body>
</html>