<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>
            Dashboard root
        </title>
</head>

<body>
    <%- include('header.ejs') %>
        <main id="dashboard">
            <h2>Bienvenido al panel del administrador <% user_session_nombre %>
            </h2>
            <section class="section" id="cont_users">
                <% juegos.forEach((users_res, index)=> { %>
                    
                <% })%>

            </section>

        </main>
        <%- include('footer.ejs') %></aside>

</body>

</html>