<footer>
    <a href="/index"  id="container_foot_img">
        <img src="Resources/Imagenes/logo_ludi.png" alt="">
    </a>
    <div class="cont_text">
        <b> ©2025 Ludiverso</b>
        <p> Todos los derechos reservados</p>

    </div>
    <div class="cont_des">
        <a href="#">Desarrolado por</a>
    </div>
</footer>