<header>
    <nav>
        <a href="/index" class="container_nav" id="cont_nav_tit">
            <h1>Ludiverso</h1>
        </a>
        <div class="container_nav" id="cont_nav_links">

            <a href="#" class="links">
                <span class="text_links">Juegos</span>
                <i class="fa-solid fa-gamepad desac icons_links"></i>
            </a>
            <a href="#sec_areas" class="links">
                <span class="text_links">Áreas</span>
                <i class="fa-solid fa-book desac icons_links"></i>
            </a>
            <a href="#sec_novedades" class="links">
                <span class="text_links">Novedades</span>
                <i class="fa-solid fa-bell desac icons_links"></i>
            </a>
            <a href="#sec_sobre_nosotros" class="links">
                <span class="text_links">Sobre nosotros</span>
                <i class="fa-solid fa-people-group desac icons_links"></i>
            </a>
        </div>
    </nav>

</header>


<script src="Scripts/header.js"></script>