<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head.ejs') %>
            <title>
               Juego de memoria
            </title>
    </head>
<body >
    <%- include('header.ejs') %>
    <main id="juego_memoria">
        <h2></h2>
      
    </main>
    <%- include('footer.ejs') %></aside>
    <script src="/Scripts/juego_memoria.js"></script>
</body>
</html>