<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>
            Elogiendo los niveles
        </title>
</head>

<body>
    <%- include('header.ejs') %>
        <main id="juego_intro">
            <section class="cont_text">
                <h2 class="titulo_juego">

                </h2>
                <h2 class="desc_juego">

                </h2>
            </section>
            <section class="cont_niveles">
                <ul class="sub_cont_niveles">
                    <% for(let i=0; i < data_juegos_areas[0].length; i++) { %>
                        <% let mover_der=(i % 2===0) ? 'mover_der' : '' ; %>
                            <a href="juego_memoria"
                                class="nivel actual <%= mover_der %>">
                                <li>
                                    <i class="fa-solid fa-star"></i>
                                </li>
                            </a>

                            <% } %>

                </ul>
            </section>

        </main>
        <%- include('footer.ejs') %></aside>
            <script src="/Scripts/juego_memoria.js"></script>
</body>

</html>
