<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head.ejs') %>
            <title>
              Registrarse
            </title>
    </head>
<body id="login"> 
    <main class="background" >
        <div class="overlay">

            <form method="post" action="/registrar">
                <div class="cont_logo">
                    <img src="resources/imagenes/logo_ludi.png" alt="">
                </div>
                <div id="cont_main_inputs">
                    <div class="cont_input">
                        <input name="nombre_us" type="text" placeholder="Escriba su nombre ">
                    </div>
                    <div class="cont_input">
                        <input name="apellido_us" type="text" placeholder="Escriba su apellido ">
                    </div>
                    <div class="cont_input">
                        <input name="nombre_usuario_us" type="text" placeholder="Escriba su nombre de usuario">
                        
                    </div>
                    <div class="cont_input">
                        <input name="email_us" type="email" placeholder="Escriba su email">
                    </div>
                    
                    <div class="cont_input">
                        <input id="input" name="password_us" type="password" placeholder="Escriba su contraseña"> 
                        <i class="fa-solid fa-lock" id="contra"></i>
                    </div>
                    <button>Ingresar</button>
                    <a href="/login">¿Ya tienes una cuenta? ¡Ingresa!</a>
                    <% if (typeof error !== 'undefined' && error) { %>
                        <div class="error-message">
                          <%= error %>
                        </div>
                      <% } %>
                </div>
            </form>

        </div>
    </main>
</body>
</html>
<script>
    const contra = document.getElementById("contra")
    const input = document.getElementById("input")
    contra.addEventListener("click", () => {
        contra.classList.toggle("fa-lock")
        contra.classList.toggle("fa-eye")
       
        if (contra.classList.contains("fa-eye")) {
            input.type = "text"; 
        } else if (contra.classList.contains("fa-lock")) {
            input.type = "password"; 
        }
    })
</script>