<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('head.ejs') %> <title>
        Restablecer Contraseña
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>

<body id="login">
    <main class="background">
        <div class="overlay">

            <form method="post" action="/reset-password">
                <div class="cont_logo">
                    <img src="resources/imagenes/logo_ludi.png" alt="Logo Ludiverso">
                </div>
                <div id="cont_main_inputs">
                    <h2>Restablecer Contraseña</h2>

                    <% if (typeof message !== 'undefined' && message) { %>
                        <div class="success-message">
                            <%= message %>
                        </div>
                    <% } %>
                    <% if (typeof error !== 'undefined' && error) { %>
                        <div class="error-message">
                            <%= error %>
                        </div>
                    <% } %>

                    <input type="hidden" name="token" value="<%= token %>">

                    <div class="cont_input">
                        <input type="password" id="newPasswordInput" name="password"
                            placeholder="Nueva Contraseña" required>
                        <i class="fa-solid fa-lock" id="toggleNewPassword"></i>
                    </div>

                    <div class="cont_input">
                        <input type="password" id="confirmPasswordInput" name="confirmPassword"
                            placeholder="Confirmar Nueva Contraseña" required>
                        <i class="fa-solid fa-lock" id="toggleConfirmPassword"></i>
                    </div>

                    <button type="submit">Restablecer Contraseña</button>
                </div>
            </form>

        </div>
    </main>

    <script>
     
        const toggleNewPassword = document.getElementById("toggleNewPassword");
        const newPasswordInput = document.getElementById("newPasswordInput");

        toggleNewPassword.addEventListener("click", () => {
            toggleNewPassword.classList.toggle("fa-lock");
            toggleNewPassword.classList.toggle("fa-eye");

            if (toggleNewPassword.classList.contains("fa-eye")) {
                newPasswordInput.type = "text";
            } else if (toggleNewPassword.classList.contains("fa-lock")) {
                newPasswordInput.type = "password";
            }
        });

       
        const toggleConfirmPassword = document.getElementById("toggleConfirmPassword");
        const confirmPasswordInput = document.getElementById("confirmPasswordInput");

        toggleConfirmPassword.addEventListener("click", () => {
            toggleConfirmPassword.classList.toggle("fa-lock");
            toggleConfirmPassword.classList.toggle("fa-eye");

            if (toggleConfirmPassword.classList.contains("fa-eye")) {
                confirmPasswordInput.type = "text";
            } else if (toggleConfirmPassword.classList.contains("fa-lock")) {
                confirmPasswordInput.type = "password";
            }
        });
    </script>
</body>

</html>