<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>
            Memory card
        </title>
</head>

<body>
      <%- include('headers/header_simple') %>
        <div id="overlay"></div>
        <main id="cont_main_areas">
        <main id="wordle">
            <h1>!Bienvenido al juego de wordle!</h1>
            <div class="cont_text">
                <p>
                    Las reglas son simples: adivina la palabra oculta en 6 intentos.
                    Cada intento debe ser una palabra valida y si la palabra no existe el
                    juego te avisará.
                </p>

                <p>
                    Después de cada intento el color de las casillas cambia para
                    mostrar qué tan cerca estás de acertar la palabra</p>

            </div>
            <div class="cont_colores">
                <div class="cont_sig_color">
                    <h3 id="sig_verde">P</h3>
                    <p>VERDE significa que la letra está en la palabra y en la
                        posición CORRECTA.</p>
                </div>
                <div class="cont_sig_color">
                    <h3 id="sig_amarillo">A</h3>
                    <p>AMARILLO significa que la letra letra está presente
                        en la palabra pero en la posición INCORRECTA.</p>
                </div>
                <div class="cont_sig_color">
                    <h3 id="sig_gris">N</h3>
                    <p>GRIS significa que la letra letra NO está presente en
                        la palabra.</p>
                </div>


            </div>
            <div class="cont_btns">
                <a href="/wordle_ranking" class="btn_wd" id="btn_ranking">Ver Ranking!</a>
                <button class="btn_wd" id="btn_jugar">¡Jugar!</button>
                <div class="select_dinamica">
                    <h4>Adivinar palabras sobre:</h4>
                    <a href="/wordle?area=1">Comunicaciones</a>
                    <a href="/wordle?area=2">Exactas y Naturales</a>
                    <a href="/wordle?area=5">Educación física</a>
                    <a href="/wordle?area=6">ciencias sociales</a>
                    <a href="/wordle?area=7">Taller</a>
                    <a href="/wordle?area=66">Combinado</a>
                </div>
            </div>

        </main>
        <script>
            const btnJugar = document.getElementById("btn_jugar");
            const overlay = document.getElementById("overlay");
            const selectDinamica = document.querySelector(".select_dinamica");

            btnJugar.addEventListener("click", (event) => {
                overlay.style.display = "flex";
                selectDinamica.style.display = "flex";
            });

            overlay.addEventListener("click", () => {
                overlay.style.display = "none";
                selectDinamica.style.display = "none";
            });
        </script>

</body>
<style>
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.877);
        /* negro transparentoso */
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        /* oculto por defecto */
    }
</style>

</html>