<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head.ejs') %>
        <title>
            Wordle
        </title>
</head>

<body>
    <%- include('header.ejs') %>
        <main id="main-content" class="wordle cont_wordle">

            <section id="cont_pista">
                <h3>¡Adivina la palabra!</h3>
                <p id="pista"></p>
            </section>
            
            <section class="cont_main">
                <article id="cont_est">
                    <div class="estadisticas">
                        <h4>Estadisticas</h4>
                        <span id="tiempo" class="text_est desac">Tiempo:</span>
                        <span id="palabras_acer" class="text_est desac">Palabras acertadas: </span>
                    </div>
                    <div class="pistas_adic">
                        <h4>Pistas adicionales</h4>
                        <span id="primer_l" class="text_pistas desac">Primer letra</span>
                        <span id="ultima_l" class="text_pistas desac">Ultima letra</span>
                    </div>
                </article>
                <article id="game">

                </article>
            </section>

        </main>


        <script id="data-wordle" type="application/json">
        <%- JSON.stringify(data_wordle) %>
      </script>
        <script src="/Scripts/wordle.js"></script>
</body>

</html>