* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
 
$Fondo_principal: #ffff;
$Texto_principal: #333333;
$Encabezados_botones_y_primarios: #3e86d3;
$Botones_secundarios_o_hover_azul: #7ab8ff;
$Botones_secundarios_o_hover_verde: #a8d08d;
//-----------------------------------------
// Colores para los cuadros de las materias.
$color_sociales: #90caf9; // celeste medio → representa lo social, lo abierto
$color_exactas: #4db6ac; // verde petróleo → lógico, científico, natural
$color_edu: #ffd54f; // amarillo dorado → energía, movimiento, cuerpo
$color_taller: #f48fb1; // rosa intenso → creatividad, manualidades
$color_comu: #81c784; // verde hierba → lenguaje, pensamiento, comunicación

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-5px);
    }

    40% {
        transform: translateX(5px);
    }

    60% {
        transform: translateX(-5px);
    }

    80% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

//-----------------------------------------
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;

    header {
        height: 10vh;
        width: 100vw;
        background-color: $Encabezados_botones_y_primarios;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;

        nav {
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            width: 100%;

            #cont_nav_tit {
                height: 100%;

            }

            #cont_nav_links {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: row;
                padding: 30px;
                gap: 20px;

                a {
                    border-radius: 10px;
                    padding: 10px 20px;
                    transition: all .2s ease-in-out;
                    color: white;
                    font-weight: 600;
                    text-decoration: none;

                    &:hover {
                        animation: shake 0.5s ease;
                        background-color: $Botones_secundarios_o_hover_azul;
                    }
                }

            }
        }
    }

    main {
        width: 100vw;
        min-height: 80vw !important;
        height: 100%;
        background-color: #f5f5f5;
        padding-bottom: 3%;

        .secciones {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            margin-top: 8%;
            &#sec_img{
                margin-top: 2% !important;
            }
            &#sec_novedades {
              
                .cont_novedades {
                    background-color: rgba(228, 228, 228, 0.658);
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    border-radius: 10px;
                    padding: 30px;
                    flex-direction: row;
                    gap: 20px;
                    width: 80%;
                    height: auto;
                    &.desac{
                        display: none;
                    }
                    .cont_text_novedad {
                       
                        width: 60%;
                        height: 100%;
                        display: flex;
                        justify-content: flex-start;
                        
                        padding: 30px;
                        gap: 20px;
                        align-items: flex-start;
                        flex-direction: column;
                      
                        .fecha_novedad{
                            font-size: .9em;
                            font-weight: 800;
                            color: #222;
                            width: 80%; 
                        }
                        .titulo_novedad {
                            font-size: 2em;
                            font-weight: 800;
                            color:$Botones_secundarios_o_hover_azul;
                            width: 80%;
                        }

                        .sub_titulo_novedades {
                            font-size: 1.4em;
                            font-weight: 500;
                            color: #222;
                            width: 80%;
                        }

                        .cuepo_novedad {
                            font-size: 1.1em;
                            font-weight: 300;
                            color: #414141;
                            width: 80%;
                        }
                    }
                    .img_novedad{
                        border-radius: 8px;
                        height: 50vh;
                        width: 40%;
                    }

                }
                #ver_mas_nov , #ver_menos_nov{
                    padding: 20px;
                    border-radius: 10px;
                    width: 250px;
                    height: 60px;
                    font-size: 1.2em;
                    font-weight: 600;
                    background-color: $Botones_secundarios_o_hover_azul;
                    color: white;
                    border: none;
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    &:hover{
                        background-color: #6da3e0;
                    }
                    &.desac{
                        display: none;
                    }
                }
            }

            .sub_titulo {
                color: #333333;
                font-size: 2.5em;
            }

            .cont_dos {
                width: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 30px;

            }

            #cont_areas {

                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-around !important;
                align-items: center;

                gap: 20px;
                padding: 20px 0px;

                .cont_areas {
                    position: relative;
                    width: 50vh;
                    height: 25vh;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;

                    &:hover {
                        img {
                            height: 100% !important;
                            border-radius: 20px;
                        }
                    }

                    span {
                        font-weight: bold;
                        font-size: 2em;
                        color: white;
                        position: relative;
                        top: 0%;
                        left: 0%;

                        z-index: 10;
                    }

                    img {
                        position: absolute;
                        width: 100%;
                        height: 0;
                        object-fit: cover;
                        top: 0;
                        left: 0;
                        transition: all .3s ease-in-out;
                        z-index: 1;
                        border-radius: 20px;
                    }

                    &#cont_sociales {
                        background-color: $color_sociales;

                    }

                    &#cont_exactas {
                        background-color: $color_exactas;
                    }

                    &#cont_taller {
                        background-color: $color_taller;
                    }

                    &#cont_central {
                        background-color: $color_comu;
                    }

                    &#cont_edu {
                        background-color: $color_edu;
                    }
                }

                #cont_central {
                    height: 50vh !important;
                }
            }
        }

        #sec_img {
            width: 100vw;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .cont_main_juego {
                height: 90%;
                width: 90%;
                border-radius: 10px;
                background-size: cover;
                background-repeat: no-repeat;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

                &.desac {
                    display: none;
                }

                .cont_main {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    height: 100%;

                }

                .cont_arrow {
                    height: 100%;
                    width: 10%;

                    display: flex;
                    justify-content: center;
                    align-items: center;


                    i {
                        font-size: 2.2em;
                        cursor: pointer;
                        color: white;
                        padding: 30px;
                        border-radius: 50%;
                        height: 40px;
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all .2s ease-in-out;

                        &:hover {
                            background-color: rgba(128, 128, 128, 0.349);
                        }
                    }
                }


                .cont_tex {
                    padding-left: 20px;
                    padding-top: 20px;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    color: white;

                    #nombre_juego {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                }

                .cont_info_juego {
                    background-color: rgba(51, 95, 153, 0.589);
                    margin-bottom: 8%;
                    padding: 30px;
                    border-radius: 30px;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 20px;

                    p {
                        width: 80%;
                        text-align: center;
                        color: #dddddd;
                    }

                    a {
                        border-radius: 10px;
                        padding: 20px;
                        font-weight: bold;
                        background-color: $Encabezados_botones_y_primarios;
                        color: white;
                        width: 200px;
                        text-align: center;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    footer {
        width: 100%;
        height: 10vh;
        background-color: $Encabezados_botones_y_primarios;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .cont_text {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            color: rgb(216, 216, 216);
        }

        color: rgb(216, 216, 216);

        .cont_des {
            a {
                color: rgb(216, 216, 216);
                text-decoration: none;
            }
        }
    }
}

//-------------------------------------------------------------------------------------
// Login y register.
#login {

    main {
        height: auto;
        width: auto;
        min-width: 100vw;
        min-height: 100vh;
    }

    /* Fondo de la página */
    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('/Resources/Imagenes/fondo.png');
        z-index: -1;
    }

    /* Filtro de color azul */
    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(8px);
        background-color: rgba(0, 47, 108, 0.384);
        /* Color azul con transparencia */
        z-index: -1;
    }

    form {
        height: 600px;
        width: 450px;
        background-color: rgb(252, 252, 252);
        padding: 0px 0px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        .cont_logo {
            padding: 10px;
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: auto;
            border-bottom: 1px solid rgba(131, 131, 131, 0.253);

            img {
                height: 100px;
                width: 100px;
            }
        }

        #cont_main_inputs {

            padding: 50px 20px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            height: 100%;



            .cont_input {
                width: 70%;
                height: 12%;
                gap: 5px;
                display: flex;
                justify-content: flex-start;
                flex-direction: row;
                align-items: center;
                border: 1px solid gray;
                border-radius: 30px;
                padding: 20px;
                transition: all .1s ease-in-out;

                #contra {
                    cursor: pointer;
                }

                input {

                    border: none;
                    background-color: transparent;

                    outline: none;
                    width: 100%;
                    height: 20px;

                    font-size: 1em !important;
                    color: black;
                }
            }



            button {
                width: 70%;
                height: 12%;
                font-weight: bolder;
                background-color: rgb(55, 55, 243);
                color: white;
                border-radius: 30px;
                border: none;
                cursor: pointer;
                transition: all .2s ease-in-out;

                &:hover {
                    background-color: rgb(38, 38, 245);
                }
            }
        }
    }

    @media (max-width: 770px) {

        form {
            height: 500px;
            width: 350px;
        }
    }

    @media (max-width: 450px) {

        form {
            height: 450px;
            width: 300px;
        }
    }
}

//-----------------------------------------------------------------------------